#vc-ytmusic-player {
    padding: 12px;
    background: var(--bg-overlay-floating, var(--background-base-low, var(--background-base-lower-alt)));
    margin: 0;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom: 1px solid var(--border-subtle);

    --vc-ytmusic-red: var(--ytmusic, red); /* so custom themes can easily change it */
    --vc-ytmusic-red-90: color-mix(in hsl, var(--vc-ytmusic-red), transparent 90%);
    --vc-ytmusic-red-80: color-mix(in hsl, var(--vc-ytmusic-red), transparent 80%);
}

.vc-ytmusic-button {
    background: none;
    color: var(--interactive-normal);
    padding: 0;
    width: 32px;
    height: 32px;
    border-radius: var(--radius-sm);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 2px;
}

.vc-ytmusic-button:hover {
    color: var(--interactive-hover);
    background-color: var(--background-modifier-selected);
}

.vc-ytmusic-button-icon {
    height: 24px;
    width: 24px;
}

.vc-ytmusic-shuffle .vc-ytmusic-button-icon,
.vc-ytmusic-repeat .vc-ytmusic-button-icon {
    width: 22px;
    height: 22px;
}

/* .vc-ytmusic-button:hover {
    filter: brightness(1.3);
} */

.vc-ytmusic-shuffle-on,
.vc-ytmusic-repeat-context,
.vc-ytmusic-repeat-track {
    background-color: var(--vc-ytmusic-red-90);
    color: var(--vc-ytmusic-red);
}

.vc-ytmusic-shuffle-on:hover,
.vc-ytmusic-repeat-context:hover,
.vc-ytmusic-repeat-track:hover {
    background-color: var(--vc-ytmusic-red-80);
    color: var(--vc-ytmusic-red);
}

.vc-ytmusic-tooltip-text {
    overflow: hidden;
    white-space: nowrap;
    padding-right: 0.2em;
    max-width: 100%;
    margin: unset;
}

.vc-ytmusic-repeat-1 {
    font-size: 70%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.vc-ytmusic-button-row {
    justify-content: center;
    margin-top: 14px;
}

#vc-ytmusic-info-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 3em;
    gap: 0.5em;
}

#vc-ytmusic-album-image {
    height: 90%;
    object-fit: contain;
    border-radius: 3px;
    transition: filter 0.2s;
}

#vc-ytmusic-album-expanded-wrapper #vc-ytmusic-album-image {
    width: 100%;
    object-fit: contain;
}

#vc-ytmusic-titles {
    display: flex;
    flex-direction: column;
    padding: 0.2rem;
    align-items: flex-start;
    place-content: flex-start center;
    overflow: hidden;
}

#vc-ytmusic-song-title {
    color: var(--header-primary);
    font-size: 14px;
    font-weight: 600;
}

.vc-ytmusic-ellipoverflow {
    white-space: nowrap;
    overflow: hidden;
    width: 100%;
    text-overflow: ellipsis;
}

.vc-ytmusic-artist,
.vc-ytmusic-album {
    font-size: 12px;
    text-decoration: none;
    color: var(--header-secondary);
}

.vc-ytmusic-comma {
    color: var(--header-secondary);
}

.vc-ytmusic-artist[role="link"]:hover,
#vc-ytmusic-album-title[role="link"]:hover,
#vc-ytmusic-song-title[role="link"]:hover {
    text-decoration: underline;
    cursor: pointer;
}

#vc-ytmusic-progress-bar {
    position: relative;
    color: var(--text-default);
    width: 100%;
    margin: 0.5em 0;
    margin-bottom: 5px;
}

#vc-ytmusic-progress-bar > [class^="slider"] {
    flex-grow: 1;
    width: 100%;
    padding: 0 !important;
}

#vc-ytmusic-progress-bar > [class^="slider"] [class^="bar"] {
    height: 3px !important;
    top: calc(12px - 4px / 2 + var(--bar-offset));
}

#vc-ytmusic-progress-bar > [class^="slider"] [class^="barFill"] {
    background-color: var(--interactive-active);
}

#vc-ytmusic-progress-bar > [class^="slider"]:hover [class^="barFill"] {
    background-color: var(--vc-ytmusic-red);
}

#vc-ytmusic-progress-bar > [class^="slider"] [class^="grabber"] {
    /* these importants are necessary, it applies a width and height through inline styles */
    height: 16px !important;
    width: 16px !important;
    margin-top: calc(17px/-2 + var(--bar-offset)/2);
    margin-left: -0.5px;
    background-color: var(--interactive-active);
    border-color: var(--interactive-normal);
    color: var(--interactive-normal);
    opacity: 0;
    transition: opacity 0.1s;
}

#vc-ytmusic-progress-bar:hover > [class^="slider"] [class^="grabber"] {
    opacity: 1;
}

#vc-ytmusic-progress-text {
    margin: 0;
}

.vc-ytmusic-progress-time {
    font-size: 12px;
    top: 10px;
    position: absolute;
    margin-top: 8px;
    font-family: var(--font-code);
}

.vc-ytmusic-time-left {
    left: 0;
}

.vc-ytmusic-time-right {
    right: 0;
}

.vc-ytmusic-fallback {
    padding: 0.5em;
    color: var(--text-default);
}

.vc-ytmusic-song-info-prefix {
    display: none;
}

.vc-ytmusic-secondary-song-info {
    font-size: 12px;
}
